.mainContainer{         
    background-color: rgb(236, 231, 238);
    width: 90%;
    margin: 1em auto;
    border-radius: 1em;
    display: flex;       
    overflow: hidden;
}
.customClass{
    margin: 2em;
    background-color: white;
    padding:1em 0;
    border-radius:1em;
}